body {
  background-color: white;
  /* color: white; */
}

header {
  background-color: #50577A;
}

footer div span {
  color: white;
}

main {
  padding: 3% 3%;
}

.first-column {
  flex: 0 0 17%;
  max-width: 50%;
}

.sidebar {
  background-color: #646a85;
}

/* css for the coding-exercise-workplace */
.coding-exercise-workplace {

}


.editor-container {
  width: 900px;
  height: 540px;
  margin: 20px auto;
  position: relative;
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
