body {
  background-color: #141414;;
  /* color: white; */
}

header {
  background-color: #50577A;
}

footer div span {
  color: black;
}

main {
  padding: 3% 3%;
}
code{
  font-size: 12px;
}

.menu {
  padding: 6% 3%;
  margin-right: 6%;
}

.mainPanel{

}

.sidebar {
  background-color: #646a85;
}

.button {
  float: right;
}

.info-button{
  float: right;
}

/* css for the coding-exercise-workplace */
.coding-exercise-workplace {
  margin-top: 9%;
}




.editor-container {
  width: 900px;
  height: 540px;
  margin: 20px auto;
  position: relative;
}

#editor {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
